In [28]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv("2010resultelections.csv", sep=",", header=None,engine='python')
new_header = df.iloc[0] #grab the first row for the header
df = df[4:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [50]:
df = df.loc[:, df.columns.intersection(['Constituency','Winning party1'])]

In [39]:
df[:-8]

0                 Constituency Winning party1
4                     Aberavon            Lab
5                    Aberconwy            Con
6               Aberdeen North            Lab
7               Aberdeen South            Lab
8           Airdrie and Shotts            Lab
9                    Aldershot            Con
10         Aldridge-Brownhills            Con
11    Altrincham and Sale West            Con
12            Alyn and Deeside            Lab
13                Amber Valley            Con
14                       Angus            SNP
15                       Arfon             PC
16             Argyll and Bute             LD
17     Arundel and South Downs            Con
18                    Ashfield            Lab
19                     Ashford            Con
20           Ashton-under-Lyne            Lab
21                   Aylesbury            Con
22    Ayr, Carrick and Cumnock            Lab
23                     Banbury            Con
24            Banff and Buchan            SNP
25                     Barking            Lab
26            Barnsley Central            Lab
27               Barnsley East            Lab
28          Barrow and Furness            Lab
29     Basildon and Billericay            Con
30                 Basingstoke            Con
31                   Bassetlaw            Lab
32                        Bath             LD
33             Batley and Spen            Lab
..                         ...            ...
624        West Worcestershire            Con
625          Westminster North            Lab
626   Westmorland and Lonsdale             LD
627          Weston-Super-Mare            Con
628                      Wigan            Lab
629                  Wimbledon            Con
630                 Winchester            Con
631                    Windsor            Con
632               Wirral South            Lab
633                Wirral West            Con
634                     Witham            Con
635                     Witney            Con
636                     Woking            Con
637                  Wokingham            Con
638   Wolverhampton North East            Lab
639   Wolverhampton South East            Lab
640   Wolverhampton South West            Con
641                  Worcester            Con
642                 Workington            Lab
643   Worsley and Eccles South            Lab
644              Worthing West            Con
645                    Wrexham            Lab
646                    Wycombe            Con
647     Wyre and Preston North            Con
648                Wyre Forest            Con
649  Wythenshawe and Sale East            Lab
650                     Yeovil             LD
651                   Ynys Mon            Lab
652               York Central            Lab
653                 York Outer            Con

[650 rows x 2 columns]

In [72]:
df = df.loc[df['country_name'] == 'England']

In [73]:
df =df.reset_index()
df = df.drop(columns=['index'])

In [75]:
df =df[['constituency_name','first_party']]

In [40]:
df.to_csv(r'2010Results.csv', index = False)

In [168]:
df = pd.read_csv("Generalelection2005.csv", sep=",", header=None,engine='python')

In [169]:
df = df.dropna(subset=[0,1])

In [170]:
df = df[ df[1].apply(len) > 1 ]
#df =df[df[1].apply(lambda x: isinstance(x, str))]
#df[1]== null
#df[1].apply(len)

In [171]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
#df['Constituency name, electorate, 2001 result'] = df['Constituency name, electorate, 2001 result'].str[:-3]
#df['Constituency name, electorate, 2001 result'] = df['Constituency name, electorate, 2001 result'].re.sub('[\(\)\{\}<>]', '', name)
df['Constituency name, electorate, 2001 result'] = df['Constituency name, electorate, 2001 result'].map(lambda x: x.rstrip(']'))
df

10,"Constituency name, electorate, 2001 result",Turnout,Candidate (* = incumbent MP),Party,Votes,Percent share,* = lost deposit,Change 2001-05,nan,nan,nan
12,Aberavon [1,59.4,"Francis, D.H.*",Lab,"18,077",60,NaN,-,3.1,NaN,NaN
21,Aberdeen North [2,55.7,"Doran, F.*",Lab,"15,557",42.5,NaN,-,6.8,NaN,NaN
29,Aberdeen South [3,62.1,"Begg, A. Ms.*",Lab,"15,272",36.7,NaN,-,1.4,NaN,NaN
38,Aberdeenshire West & Kincardine [4,63.5,"Smith, R.*",LD,"19,285",46.3,NaN,+,2.3,NaN,NaN
46,Airdrie & Shotts [5,54.7,"Reid, J.*",Lab,"19,568",59,NaN,+,0.4,NaN,NaN
55,Aldershot [6,61.1,"Howarth, J.G.D.*",Con,"20,572",42.7,NaN,+,0.5,NaN,NaN
65,Aldridge - Brownhills [7,64.5,"Shepherd, R.C.S.*",Con,"18,744",47.4,NaN,-,2.8,NaN,NaN
73,Altrincham & Sale West [8,66.8,"Brady, G.S.*",Con,"20,569",46.4,NaN,+,0.3,NaN,NaN
80,Alyn & Deeside [9,59.7,"Tami, M.R.*",Lab,"17,331",48.8,NaN,-,3.5,NaN,NaN
91,Amber Valley [10,63,"Mallaber, J. Ms.*",Lab,"21,593",45.6,NaN,-,6.3,NaN,NaN
100,Angus [11,60.5,"Weir, M.F.*",SNP,"12,840",33.7,NaN,+,0.5,NaN,NaN
108,Antrim East [12,54.8,"Wilson, S.",DUP,"15,766",49.6,NaN,+,13.6,NaN,NaN
117,Antrim North [13,62.1,"Paisley, I.R.K.*",DUP,"25,156",54.8,NaN,+,4.9,NaN,NaN
125,Antrim South [14,57,"McCrea, R.T.W.",DUP,"14,507",38.2,NaN,+,3.4,NaN,NaN
133,Argyll & Bute [15,64.3,"Reid, A.*",LD,"15,786",36.5,NaN,+,3.7,NaN,NaN
141,Arundel & South Downs [16,68.5,"Herbert, N.Le Q.",Con,"24,752",49.8,NaN,-,2.4,NaN,NaN
149,Ashfield [17,57.4,"Hoon, G.W.*",Lab,"20,433",48.6,NaN,-,9.5,NaN,NaN
159,Ashford [18,65.6,"Green, D.H.*",Con,"26,651",51.6,NaN,+,4.1,NaN,NaN
168,Ashton under Lyne [19,51.9,"Heyes, D.A.*",Lab,"21,211",57.4,NaN,-,5.1,NaN,NaN
177,Aylesbury [20,63.3,"Lidington, D.R.*",Con,"25,252",49.1,NaN,+,1.7,NaN,NaN
184,"Ayr, Carrick & Cumnock [21",61.9,"Osborne, S. Ms.*",Lab,"20,433",45.4,NaN,-,6,NaN,NaN
195,Ayrshire Central [22,63.2,"Donohoe, B.H.*",Lab,"19,905",46.4,NaN,-,2.8,NaN,NaN
205,Ayrshire North & Arran [23,60.6,"Clark, K. Ms.",Lab,"19,417",43.9,NaN,-,4.4,NaN,NaN
215,Banbury [24,63.9,"Baldry, A.B.*",Con,"26,382",46.9,NaN,+,1.8,NaN,NaN
225,Banff & Buchan [25,56.6,"Salmond, A.*",SNP,"19,044",51.2,NaN,+,2.3,NaN,NaN
235,Barking [26,50.1,"Hodge, M.E. Ms.*",Lab,"13,826",47.8,NaN,-,13.1,NaN,NaN
246,Barnsley Central [27,47.1,"Illsley, E.E.*",Lab,"17,478",61.1,NaN,-,8.6,NaN,NaN
254,Barnsley East & Mexborough [28,49.3,"Ennis, J.*",Lab,"20,779",62.9,NaN,-,4.6,NaN,NaN
261,Barnsley West & Penistone [29,54.9,"Clapham, M.*",Lab,"20,372",55.3,NaN,-,3.3,NaN,NaN
267,Barrow & Furness [30,59,"Hutton, J.M.P.*",Lab,"17,360",47.6,NaN,-,8.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5274,Weston-Super-Mare [616,65.5,"Penrose, J.D.",Con,"19,804",40.3,NaN,+,1.6,NaN,NaN
5285,Wigan [617,53.3,"Turner, N.*",Lab,"18,901",55.1,NaN,-,6.6,NaN,NaN
5293,Wiltshire North [618,69.3,"Gray, J.W.*",Con,"26,282",46.9,NaN,+,1.4,NaN,NaN
5301,Wimbledon [619,68.1,"Hammond, S.W.",Con,"17,886",41.2,NaN,+,4.6,NaN,NaN
5312,Winchester [620,73.5,"Oaten, M.*",LD,"31,225",50.6,NaN,-,3.9,NaN,NaN
5320,Windsor [621,65.4,"Afriyie, A.",Con,"21,646",49.5,NaN,+,2.3,NaN,NaN
5329,Wirral South [622,67.5,"Chapman, J.K.*",Lab,"16,892",42.5,NaN,-,4.9,NaN,NaN
5338,Wirral West [623,67.5,"Hesford, S.*",Lab,"17,543",42.5,NaN,-,4.7,NaN,NaN
5346,Witney [624,69.5,"Cameron, D.W.D.*",Con,"26,571",49.3,NaN,+,4.3,NaN,NaN
5354,Woking [625,63.4,"Malins, H.J.*",Con,"21,838",47.4,NaN,+,1.4,NaN,NaN
5362,Wokingham [626,68.4,"Redwood, J.A.*",Con,"22,174",48.1,NaN,+,2,NaN,NaN
5372,Wolverhampton North East [627,54.5,"Purchase, K.*",Lab,"17,948",54.5,NaN,-,5.8,NaN,NaN
5379,Wolverhampton South East [628,52.3,"McFadden, P.B.",Lab,"16,790",59.4,NaN,-,8,NaN,NaN
5387,Wolverhampton South West [629,62.4,"Marris, R.H.*",Lab,"18,489",44.4,NaN,-,3.9,NaN,NaN
5395,Woodspring [630,71.9,"Fox, L.*",Con,"21,587",41.8,NaN,-,1.9,NaN,NaN
5404,Worcester [631,64.4,"Foster, M.J.*",Lab,"19,421",41.9,NaN,-,6.7,NaN,NaN
5414,Worcestershire Mid [632,67.3,"Luff, P.J.*",Con,"24,783",51.5,NaN,+,0.4,NaN,NaN
5421,Worcestershire West [633,70.9,"Spicer, W.M.H.*",Con,"20,959",44.5,NaN,-,1.4,NaN,NaN
5429,Workington [634,63,"Cunningham, T.A.*",Lab,"19,554",50.5,NaN,-,5,NaN,NaN
5445,Worthing East & Shoreham [636,62.6,"Loughton, T.P.*",Con,"19,548",43.9,NaN,+,0.7,NaN,NaN
5453,Worthing West [637,62.6,"Bottomley, P.J.*",Con,"21,383",47.6,NaN,+,0.2,NaN,NaN
5461,The Wrekin [638,66.9,"Pritchard, M.A.",Con,"18,899",41.9,NaN,+,3.5,NaN,NaN
5468,Wrexham [639,63.3,"Lucas, I.C.*",Lab,"13,993",46.1,NaN,-,7,NaN,NaN
5477,Wycombe [640,61,"Goodman, P.A.C.*",Con,"20,331",45.8,NaN,+,3.4,NaN,NaN
5485,Wyre Forest [641,64.7,"Taylor, R.T.*",KHHC,"18,739",39.9,NaN,,,NaN,NaN
5494,Wythenshawe & Sale East [642,51.1,"Goggins, P.G.*",Lab,"18,878",52.2,NaN,-,7.8,NaN,NaN
5502,Yeovil [643,64.3,"Laws, D.A.*",LD,"25,658",51.4,NaN,+,7.2,NaN,NaN
5509,Ynys Mon [644,67.5,"Owen, A.*",Lab,"12,278",34.6,NaN,-,0.4,NaN,NaN
5519,York [645,61.7,"Bayley, H.*",Lab,"21,836",46.9,NaN,-,5.4,NaN,NaN
5530,Yorkshire East [646,61.6,"Knight, G.*",Con,"21,215",45.2,NaN,-,0.6,NaN,NaN

In [181]:
for i in range(0,10):
    df['Constituency name, electorate, 2001 result'] = df['Constituency name, electorate, 2001 result'].map(lambda x: x.rstrip('['))
df

10,"Constituency name, electorate, 2001 result",Turnout,Candidate (* = incumbent MP),Party,Votes,Percent share,* = lost deposit,Change 2001-05,nan,nan,nan
12,Aberavon,59.4,"Francis, D.H.*",Lab,"18,077",60,NaN,-,3.1,NaN,NaN
21,Aberdeen North,55.7,"Doran, F.*",Lab,"15,557",42.5,NaN,-,6.8,NaN,NaN
29,Aberdeen South,62.1,"Begg, A. Ms.*",Lab,"15,272",36.7,NaN,-,1.4,NaN,NaN
38,Aberdeenshire West & Kincardine,63.5,"Smith, R.*",LD,"19,285",46.3,NaN,+,2.3,NaN,NaN
46,Airdrie & Shotts,54.7,"Reid, J.*",Lab,"19,568",59,NaN,+,0.4,NaN,NaN
55,Aldershot,61.1,"Howarth, J.G.D.*",Con,"20,572",42.7,NaN,+,0.5,NaN,NaN
65,Aldridge - Brownhills,64.5,"Shepherd, R.C.S.*",Con,"18,744",47.4,NaN,-,2.8,NaN,NaN
73,Altrincham & Sale West,66.8,"Brady, G.S.*",Con,"20,569",46.4,NaN,+,0.3,NaN,NaN
80,Alyn & Deeside,59.7,"Tami, M.R.*",Lab,"17,331",48.8,NaN,-,3.5,NaN,NaN
91,Amber Valley,63,"Mallaber, J. Ms.*",Lab,"21,593",45.6,NaN,-,6.3,NaN,NaN
100,Angus,60.5,"Weir, M.F.*",SNP,"12,840",33.7,NaN,+,0.5,NaN,NaN
108,Antrim East,54.8,"Wilson, S.",DUP,"15,766",49.6,NaN,+,13.6,NaN,NaN
117,Antrim North,62.1,"Paisley, I.R.K.*",DUP,"25,156",54.8,NaN,+,4.9,NaN,NaN
125,Antrim South,57,"McCrea, R.T.W.",DUP,"14,507",38.2,NaN,+,3.4,NaN,NaN
133,Argyll & Bute,64.3,"Reid, A.*",LD,"15,786",36.5,NaN,+,3.7,NaN,NaN
141,Arundel & South Downs,68.5,"Herbert, N.Le Q.",Con,"24,752",49.8,NaN,-,2.4,NaN,NaN
149,Ashfield,57.4,"Hoon, G.W.*",Lab,"20,433",48.6,NaN,-,9.5,NaN,NaN
159,Ashford,65.6,"Green, D.H.*",Con,"26,651",51.6,NaN,+,4.1,NaN,NaN
168,Ashton under Lyne,51.9,"Heyes, D.A.*",Lab,"21,211",57.4,NaN,-,5.1,NaN,NaN
177,Aylesbury,63.3,"Lidington, D.R.*",Con,"25,252",49.1,NaN,+,1.7,NaN,NaN
184,"Ayr, Carrick & Cumnock",61.9,"Osborne, S. Ms.*",Lab,"20,433",45.4,NaN,-,6,NaN,NaN
195,Ayrshire Central,63.2,"Donohoe, B.H.*",Lab,"19,905",46.4,NaN,-,2.8,NaN,NaN
205,Ayrshire North & Arran,60.6,"Clark, K. Ms.",Lab,"19,417",43.9,NaN,-,4.4,NaN,NaN
215,Banbury,63.9,"Baldry, A.B.*",Con,"26,382",46.9,NaN,+,1.8,NaN,NaN
225,Banff & Buchan,56.6,"Salmond, A.*",SNP,"19,044",51.2,NaN,+,2.3,NaN,NaN
235,Barking,50.1,"Hodge, M.E. Ms.*",Lab,"13,826",47.8,NaN,-,13.1,NaN,NaN
246,Barnsley Central,47.1,"Illsley, E.E.*",Lab,"17,478",61.1,NaN,-,8.6,NaN,NaN
254,Barnsley East & Mexborough,49.3,"Ennis, J.*",Lab,"20,779",62.9,NaN,-,4.6,NaN,NaN
261,Barnsley West & Penistone,54.9,"Clapham, M.*",Lab,"20,372",55.3,NaN,-,3.3,NaN,NaN
267,Barrow & Furness,59,"Hutton, J.M.P.*",Lab,"17,360",47.6,NaN,-,8.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5274,Weston-Super-Mare,65.5,"Penrose, J.D.",Con,"19,804",40.3,NaN,+,1.6,NaN,NaN
5285,Wigan,53.3,"Turner, N.*",Lab,"18,901",55.1,NaN,-,6.6,NaN,NaN
5293,Wiltshire North,69.3,"Gray, J.W.*",Con,"26,282",46.9,NaN,+,1.4,NaN,NaN
5301,Wimbledon,68.1,"Hammond, S.W.",Con,"17,886",41.2,NaN,+,4.6,NaN,NaN
5312,Winchester,73.5,"Oaten, M.*",LD,"31,225",50.6,NaN,-,3.9,NaN,NaN
5320,Windsor,65.4,"Afriyie, A.",Con,"21,646",49.5,NaN,+,2.3,NaN,NaN
5329,Wirral South,67.5,"Chapman, J.K.*",Lab,"16,892",42.5,NaN,-,4.9,NaN,NaN
5338,Wirral West,67.5,"Hesford, S.*",Lab,"17,543",42.5,NaN,-,4.7,NaN,NaN
5346,Witney,69.5,"Cameron, D.W.D.*",Con,"26,571",49.3,NaN,+,4.3,NaN,NaN
5354,Woking,63.4,"Malins, H.J.*",Con,"21,838",47.4,NaN,+,1.4,NaN,NaN
5362,Wokingham,68.4,"Redwood, J.A.*",Con,"22,174",48.1,NaN,+,2,NaN,NaN
5372,Wolverhampton North East,54.5,"Purchase, K.*",Lab,"17,948",54.5,NaN,-,5.8,NaN,NaN
5379,Wolverhampton South East,52.3,"McFadden, P.B.",Lab,"16,790",59.4,NaN,-,8,NaN,NaN
5387,Wolverhampton South West,62.4,"Marris, R.H.*",Lab,"18,489",44.4,NaN,-,3.9,NaN,NaN
5395,Woodspring,71.9,"Fox, L.*",Con,"21,587",41.8,NaN,-,1.9,NaN,NaN
5404,Worcester,64.4,"Foster, M.J.*",Lab,"19,421",41.9,NaN,-,6.7,NaN,NaN
5414,Worcestershire Mid,67.3,"Luff, P.J.*",Con,"24,783",51.5,NaN,+,0.4,NaN,NaN
5421,Worcestershire West,70.9,"Spicer, W.M.H.*",Con,"20,959",44.5,NaN,-,1.4,NaN,NaN
5429,Workington,63,"Cunningham, T.A.*",Lab,"19,554",50.5,NaN,-,5,NaN,NaN
5445,Worthing East & Shoreham,62.6,"Loughton, T.P.*",Con,"19,548",43.9,NaN,+,0.7,NaN,NaN
5453,Worthing West,62.6,"Bottomley, P.J.*",Con,"21,383",47.6,NaN,+,0.2,NaN,NaN
5461,The Wrekin,66.9,"Pritchard, M.A.",Con,"18,899",41.9,NaN,+,3.5,NaN,NaN
5468,Wrexham,63.3,"Lucas, I.C.*",Lab,"13,993",46.1,NaN,-,7,NaN,NaN
5477,Wycombe,61,"Goodman, P.A.C.*",Con,"20,331",45.8,NaN,+,3.4,NaN,NaN
5485,Wyre Forest,64.7,"Taylor, R.T.*",KHHC,"18,739",39.9,NaN,,,NaN,NaN
5494,Wythenshawe & Sale East,51.1,"Goggins, P.G.*",Lab,"18,878",52.2,NaN,-,7.8,NaN,NaN
5502,Yeovil,64.3,"Laws, D.A.*",LD,"25,658",51.4,NaN,+,7.2,NaN,NaN
5509,Ynys Mon,67.5,"Owen, A.*",Lab,"12,278",34.6,NaN,-,0.4,NaN,NaN
5519,York,61.7,"Bayley, H.*",Lab,"21,836",46.9,NaN,-,5.4,NaN,NaN
5530,Yorkshire East,61.6,"Knight, G.*",Con,"21,215",45.2,NaN,-,0.6,NaN,NaN

In [182]:
df = df.loc[:, df.columns.intersection(['Constituency name, electorate, 2001 result','Party'])]

In [183]:
df

     Constituency name, electorate, 2001 result Party
12                                    Aberavon    Lab
21                              Aberdeen North    Lab
29                              Aberdeen South    Lab
38           Aberdeenshire West & Kincardine       LD
46                            Airdrie & Shotts    Lab
55                                   Aldershot    Con
65                       Aldridge - Brownhills    Con
73                      Altrincham & Sale West    Con
80                              Alyn & Deeside    Lab
91                                Amber Valley    Lab
100                                      Angus    SNP
108                                Antrim East    DUP
117                               Antrim North    DUP
125                               Antrim South    DUP
133                              Argyll & Bute     LD
141                      Arundel & South Downs    Con
149                                   Ashfield    Lab
159                                    Ashford    Con
168                          Ashton under Lyne    Lab
177                                  Aylesbury    Con
184                     Ayr, Carrick & Cumnock    Lab
195                           Ayrshire Central    Lab
205                     Ayrshire North & Arran    Lab
215                                    Banbury    Con
225                             Banff & Buchan    SNP
235                                    Barking    Lab
246                           Barnsley Central    Lab
254                 Barnsley East & Mexborough    Lab
261                  Barnsley West & Penistone    Lab
267                           Barrow & Furness    Lab
...                                         ...   ...
5274                         Weston-Super-Mare    Con
5285                                     Wigan    Lab
5293                           Wiltshire North    Con
5301                                 Wimbledon    Con
5312                                Winchester     LD
5320                                   Windsor    Con
5329                              Wirral South    Lab
5338                               Wirral West    Lab
5346                                    Witney    Con
5354                                    Woking    Con
5362                                 Wokingham    Con
5372                  Wolverhampton North East    Lab
5379                  Wolverhampton South East    Lab
5387                  Wolverhampton South West    Lab
5395                                Woodspring    Con
5404                                 Worcester    Lab
5414                        Worcestershire Mid    Con
5421                       Worcestershire West    Con
5429                                Workington    Lab
5445                  Worthing East & Shoreham    Con
5453                             Worthing West    Con
5461                                The Wrekin    Con
5468                                   Wrexham    Lab
5477                                   Wycombe    Con
5485                               Wyre Forest   KHHC
5494                   Wythenshawe & Sale East    Lab
5502                                    Yeovil     LD
5509                                  Ynys Mon    Lab
5519                                      York    Lab
5530                            Yorkshire East    Con

[644 rows x 2 columns]

In [184]:
df.to_csv(r'2005Results.csv', index = False)